@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  padding-left: 250px;
  padding-top: 10px;
  display: flex;
  height: 100vh;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: 3rem;
   flex-direction: column; 
}

/* les couleurs utilisés */
:root {
  --rouge: #830709;
  
}